/* GENERAL STYLING */
body { background: #eee; margin: 0; font-family: "Lexend Deca"; color: #222222; }
h1 { font-size: 64px; margin-left: 6vw; font-weight: 800; color: white; }
h2 { font-size: 32px; font-weight: 600; text-align: center; letter-spacing: -0.05em; margin: 0; }
h3 { font-size: 24px; font-weight: 600; margin-block-start: 0; margin-block-end: 0; }
h4 { font-size: 18px; font-weight: 400; margin-block-start: 6px; margin-block-end: 0; margin-left: 6px; }

/* HEADER STYLING */
.heading { display: flex; width: 100%; justify-content: left; align-items: center; min-height: 250px; background: black; background-image: url('https://raw.githubusercontent.com/trvecrvppop/trvecrvppop.github.io/main/trve-crvp-pop-logo.jpg'); background-repeat: no-repeat; background-position: right 10% top; background-size: contain; border-bottom: 1px solid white; }
.menu { display: flex; width: 100%; background: black; color: white; padding-top: 10px; padding-bottom: 10px; position: sticky; top: 0; z-index: 999; }
.menuItem { flex: 1; justify-content: center; text-align: center; text-transform: uppercase; }
.menuItem:not(:last-of-type) { border-right: 1px solid white; }
.menuItem a { color: white; text-decoration: none; }
.menuItem a:hover { font-weight: bold; }

/* ACCORDION STYLING */
.ac-container { width: 88%; margin:auto; margin-top: 20px; margin-bottom: 20px; background: white; color: #222; }
.ac-container label { display: block; cursor: pointer; background: #fff; border-bottom: 1px solid #eee; }
.ac-container label:hover { background: #E7F1FF; }
.ac-container input { display: none; }
.ac-container article { overflow: hidden; height: 0; transition: 0.6s; border-left: 1px solid #eee; border-right: 1px solid #eee; }
.ac-container article p { font-size: 18px; }
.ac-container input:checked ~ label { background: #E7F1FF; }
.ac-container input:checked ~ article { padding: 20px; height: auto; border-top: none; }

/* CHART TABLE STYLING */
.album1, .album2 { display: flex; flex-direction: row; cursor: pointer; color: #222; width: 100%; }
.album2 { min-height: 100px; }
.albumRank { display: flex; flex: 0 0 100px; align-items: center; justify-content: center; background: #222; color: white; font-weight: 800; font-size: 24px; border-right: 1px solid #eee; }
.albumCover { display: flex; flex: 0 0 150px; align-items: center; justify-content: center; }
.albumCover img { width: 100%; }
.albumName { display: flex; flex-direction: row; margin-left: 20px; margin-right: 20px; margin-top: auto; margin-bottom: auto; }

/* EPISODE TABLE STYLING */
.episodeTable { display: flex; flex-direction: column; margin: auto; width: 88%; margin-top: 2em; margin-bottom: 2em; background: white; }
.episodeEntry { display: flex; flex-direction: row; width: 100%; }
.episodeEntry:not(:last-of-type) { border-bottom: 1px solid #eee; }
.episodeCode { display: flex; flex-direction: column; justify-content: center; align-self: stretch; min-width: 100px; background: #222222; padding: 20px; text-align: center; color: white; font-size: 20px; }
.episodeTitle { display: flex; flex-direction: column; justify-content: stretch; align-self: stretch; width: 100%; padding: 20px; font-size: 18px; }
.episodeLinks { display: flex; flex-direction: column; justify-content: center; align-self: stretch; min-width: 100px; background: #444444; color: white; text-align: center; }
.episodeIcons { display: flex; flex-direction: row; justify-content: center; align-self: stretch; padding-top: 10px; }
.episodeIcons a:first-of-type { padding-right: 5px; }
.episodeIcons a:hover { opacity: .8; }
.episodeIcons img { width: 25px; }