body { background: #eee; margin: 0; font-family: "Lexend Deca"; color: #222222; }

.heading { display: flex; width: 100%; justify-content: left; align-items: center; min-height: 250px; background: black; background-image: url('https://raw.githubusercontent.com/trvecrvppop/trvecrvppop.github.io/main/trve-crvp-pop-logo.jpg'); background-repeat: no-repeat; background-position: right 10% top; background-size: contain; }

h1 { font-size: 4em; margin-left: 6vw; font-weight: 800; color: white; }

/* EPISODE TABLE STYLES */
.episodeTable { display: flex; flex-direction: column; margin: auto; margin-top: 2em; width: 88%; background: white; }
.episodeEntry { display: flex; flex-direction: row; width: 100%; }
.episodeEntry:not(:last-of-type) { border-bottom: 1px solid #eee; }
.episodeCode { display: flex; flex-direction: column; justify-content: center; align-self: stretch; min-width: 100px; background: #222222; padding: 20px; text-align: center; color: white; font-size: 20px; }
.episodeTitle { display: flex; flex-direction: column; justify-content: stretch; align-self: stretch; width: 100%; padding: 20px; font-size: 18px; }
.episodeLinks { display: flex; flex-direction: column; justify-content: center; align-self: stretch; min-width: 100px; background: #444444; color: white; text-align: center; }
.episodeIcons { display: flex; flex-direction: row; justify-content: center; align-self: stretch; padding-top: 10px; }
.episodeIcons a:first-of-type { padding-right: 5px; }
.episodeIcons img { width: 25px; }